<!DOCTYPE html>
<html>
  <head>
    <title>For Later</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>For Later - Bookmarks</h1>
    <p>Welcome, <%= name %>!</p>
    <ul id="bookmarks">
    <% for(var i=0; i<bookmarks.length; i++) {%>
      <li class="bookmark">
        <a href="<%= bookmarks[i].link %>"><%= bookmarks[i].title %></a>:
        <%= bookmarks[i].description %>
        <form action="/bookmarks/<%= bookmarks[i].id %>/delete" method="post">
          <button>Delete</button>
        </form>
      </li>
    <% } %>
    </ul>
    <form action="/bookmarks/add" method="post">
      <input type="text" name="title" id="new_bookmark_title">
      <input type="textarea" name="description" id="new_bookmark_description">
      <input type="text" name="link" id="new_bookmark_link">
      <button>Add bookmark</button>
    </form>
    <script src="/js/app.js"></script>
  </body>
</html>