<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Later</title>
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/modernizr.js"></script>
  </head>
  <body>
    <header class="row">
      <div class="large-8 large-centered columns">
        <h1>For Later</h1>
        <h2 class="subheader"><%= name %>'s Bookmarks</h2>
      </div>
    </header>
    <div class="row">
      <div class="large-8 large-centered columns">
        <ol id="bookmarks">
          <% for(var i=0; i<bookmarks.length; i++) {%>
            <li class="bookmark">
              <div class="row">
                <button class="bookmark-delete small secondary alert" form="bookmark-delete-form<%= bookmarks[i].id %>">Delete</button>
                <h4><a href="<%= bookmarks[i].link %>"><%= bookmarks[i].title %></a></h4>
                <p><%= bookmarks[i].description %></p>

                <form id="bookmark-delete-form<%= bookmarks[i].id %>" action="/bookmarks/<%= bookmarks[i].id %>/delete" method="post">
                </form>
              </div>
            </li>
          <% } %>
        </ol>
        <div class="row">
          <div class="large-6 columns panel">
            <form action="/bookmarks/add" method="post" data-abide>
              <h3>Add a bookmark</h3>
              <div>
                <label for="new_bookmark_title">Title <small>required</small></label>
                <input type="text" name="title" id="new_bookmark_title" size=60 required>
                <small class="error">Title is required.</small>
              </div>
              <div>
                <label for="new_bookmark_description">Description</label>
                <textarea name="description" id="new_bookmark_description" cols=43></textarea>
              </div>
              <div>
                <label for="new_bookmark_link">URL <small>required</small></label>
                <input type="url" name="link" id="new_bookmark_link" size=60 required>
              </div>
              <br>
              <div class="row">
                <div class="large-6 small-centered columns">
                  <button class="large-12 small-centered small success button">Add bookmark</button>
                </div>
              </div>
            </form>
          </div>
          <div class="large-6 columns">
            <h3>Bookmarklet</h3>
            <p>Drag the following bookmarklet to your bookmarks bar. Then,
            when you're on a web page you want to save for later, click the
            bookmarklet. Highlight text if you want to save it as a
            description.</p>
            <p><a href="javascript:(function(){var u,d,t;u=location.href;if(document.getSelection){d=document.getSelection()}else{d=''};t=document.title;void(open('<%- site_url %>/bookmarks/add?url='+encodeURIComponent(u)+'&description='+encodeURIComponent(d)+'&title='+encodeURIComponent(t),'For Later','toolbar=no,width=250,height=40'))})();">Save for later</a></p>
          </div>
        </div>
      </div>
    </div>
    <footer class="row">
      <div class="large-8 small-centered columns">
        Created by <a href="http://www.tomshen.me/">Tom Shen.</a>
      </div>
    </footer>
    <script src="/js/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/app.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>